# Ingorar estos directorios
.vscode/
venv/
__pycache__/

# Ingora estas extensiones de archivo
*.pyc

# Ingora estos archivos especificos
*/prueba.py

# Información no publica de la base de datos
**/db_info.json